<div *ngIf="!isLoading; else loading">
    <div class="weather-container">
        <table *ngIf="weatherList.length > 0; else noRecords" class="weather-table">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Temperature</th>
                    <th>Weather</th>
                    <th>Descritption</th>
                    <th>Wind speed</th>
                    <th>Wind deg</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of weatherList">
                    <td>{{item?.name}}</td>
                    <td>{{item?.main?.temp}} &#8451;</td>
                    <td>{{item?.weather[0]?.main}}</td>
                    <td>{{item?.weather[0]?.description}}</td>
                    <td>{{item?.wind?.speed}} m/s</td>
                    <td>{{item?.wind?.deg}}</td>
                    <td>{{item?.main?.pressure}} hPa</td>
                    <td>{{item?.main?.humidity}} %</td>
                    <td>
                        <button (click)="removeWeather(item)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #loading>
    <div class="loader">
        Loading...
    </div>
</ng-template>

<ng-template #noRecords>
    <div class="no-records">
        Records not found
    </div>
</ng-template>